@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

#hero-banner {
    min-height: 70vh;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: thistle;
    font-size: 40px;
    font-weight: 500;
}

h4 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: thistle;
    font-size: 30px;
    font-weight: 200;
}

/* just some font styling  */
